body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#root {
    display: table;
    border-collapse: collapse;
}

.row {
    display: table-row;
}

.cell {
    width: 50px;
    height: 50px;
    display: table-cell;
    border: 1px solid #000;
    text-align: center;
    background-color: red;
}

.cell-main {
    background-color: lightseagreen;
}

.cell-omain {
    background-color: lightsteelblue;
}

.cell-umain {
    background-color: blueviolet;
}